<br><br>
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
    <div class="max-w-3xl mx-auto">
        <div class="bg-gray-50 sm:rounded-lg">
            <div class="px-4 py-5 sm:p-6">
              <h3 class="text-lg leading-6 font-medium text-gray-900">
             Are you sure you want to sign in with STiBaRC?
              </h3>
              <div class="mt-2 max-w-xl text-sm leading-5 text-gray-500">
                <p>
        
                    This will allow people with your credentials to STiBaRC to your CTF Guide account.
        
        </p>
              </div>
              <div class="mt-5">
                <span class="inline-flex rounded-md shadow-sm">
                  <button onclick="linkacc()" type="button" class="inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150">
                  Yes
                  </button>
                  &nbsp;
                  <button onclick="window.close()" type="button" class="inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150">
                No
                    </button>
                </span>
              </div>
            </div>
    </div>
    </div>
  </div>

  <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-firestore.js"></script>
  <script>
        var firebaseConfig = {
          apiKey: "AIzaSyBLAN84VP3jSA5dqhrU6Bjmfu5NiUDuNw4",
          authDomain: "cyberjags-8b081.firebaseapp.com",
          databaseURL: "https://cyberjags-8b081.firebaseio.com",
          projectId: "cyberjags-8b081",
          storageBucket: "cyberjags-8b081.appspot.com",
          messagingSenderId: "166652277588",
          appId: "1:166652277588:web:e08b9e19916451e14dcec1"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
  </script>
  <script>

    

  var userid = ""
  var email = ""
firebase.auth().onAuthStateChanged(function(user) {

userid = user.uid
email = user.email;


});


function linkacc() {
var url_string = window.location.href; //window.location.href
var url = new URL(url_string);
var sess = url.searchParams.get("sess");

    var stibarc_username = "";


     var xhttp = new XMLHttpRequest();
xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      console.log(xhttp.responseText)
      stibarc_username = xhttp.responseText;

var xhttp2 = new XMLHttpRequest();
xhttp2.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
       // Typical action to be performed when the document is ready:
       console.log(xhttp2.responseText)
       window.close();
    }
};
xhttp2.open("GET", "https://ctfguide.tech/api/link-account?uid=" + userid + "&stibarc="  + stibarc_username , true);
xhttp2.send()
    }
};
xhttp.open("GET",  `https://api.stibarc.com/getusername.sjs?sess=${sess}` , true);
xhttp.send()

}

  </script>
 

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">