<!DOCTYPE html>

<head>
    <title>CTFGuide</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <script src="https://kit.fontawesome.com/13433183d5.js" crossorigin="anonymous"></script>
    <script async src="https://arc.io/widget.min.js#7JTQkWpx"></script>
    <link rel="icon" 
  type="image/ico" 
  href="../../cdn/favicon.ico">
  <style>

    

.loader {
  border: 14px solid rgb(153, 152, 152); /* Light grey */
  border-top: 14px solid #575757; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;

}

.loader-parent {
  display: flex;
  justify-content: center;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


    
  </style>


<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet"> 
</head>

<body>


  <nav class="bg-white shadow">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex justify-between h-16">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button -->
          <button id="menubtn" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out" aria-label="Main menu" aria-expanded="false">
            <!-- Icon when menu is closed. -->
            <!--
              Heroicon name: menu
  
              Menu open: "hidden", Menu closed: "block"
            -->
            <svg  id="openm" class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            <!-- Icon when menu is open. -->
            <!--
              Heroicon name: x
  
              Menu open: "block", Menu closed: "hidden"
            -->
            <svg  id="closem"  class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex-shrink-0 flex items-center">
            <img class="block lg:hidden h-8 w-auto" src="logo.svg">
            <img class="hidden lg:block h-8 w-auto" src="logo.svg">
          </div>
        
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <div class="hidden sm:ml-6 sm:flex">
            <a href="/dashboard" class="ml-8 inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out">
               Dashboard
              </a>
            <a href="/challenges" class="ml-8 inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out">
              Challenges
            </a>
            <a href="/ctflive/join" class="ml-8 inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out">
             CTFLive
            </a>
            <a href="/login" class="ml-8 inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out">
              Duels
            </a>
        
            <a  id="logout"  style="cursor:pointer;" class="ml-8 inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out">
                Logout
              </a>

              <a href="/settings" class="ml-8 inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-gray-500 hover:text-gray-700  focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out">
                <i class="fas fa-cog"></i>
              </a>
          </div>
        </div>
      </div>
    </div>
  
    <!--
      Mobile menu, toggle classes based on menu state.
  
      Menu open: "block", Menu closed: "hidden"
    -->
    <div id="mobile" class="hidden sm:hidden">
      <div class="pt-2 pb-4">
       
        <a href="./dashboard" class="block pl-3 pr-4 py-2 border-l-4 border-gray-500 text-base font-medium text-gray-700 bg-gray-50 focus:outline-none focus:text-indigo-800 focus:bg-indigo-100 focus:border-gray-700 transition duration-150 ease-in-out">Dashboard</a>
        
  
        <a href="./challenges" class="mt-1 block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 focus:bg-gray-50 focus:border-gray-300 transition duration-150 ease-in-out">Challenges</a>
        
        <!--
        <a href="#" class="mt-1 block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 focus:bg-gray-50 focus:border-gray-300 transition duration-150 ease-in-out">CTFLive</a>
        -->
       
        <a onclick="logout()" id="logout" class="mt-1 block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 focus:bg-gray-50 focus:border-gray-300 transition duration-150 ease-in-out">Logout</a>
     </div>
    </div>
  </nav>
  <div id="loader">
<div class="loader-parent mt-20">
  <div class="loader">
  </div><br>
</div>
<h1 style="text-align: center;font-size:rem;" class="mt-3"><i>Initiating launch sequence...</i></h1>

</div>
<div id="page_content" style="display:none;">
<!-- GAME FOUND -->

<div id="gameFound" class="hidden fixed z-10 inset-0 overflow-y-auto">
  <div class=" flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <!--
      Background overlay, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div class="fixed inset-0 transition-opacity">
      <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
    </div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>&#8203;
    <!--
      Modal panel, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        To: "opacity-100 translate-y-0 sm:scale-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100 translate-y-0 sm:scale-100"
        To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    -->
    <div class="animate__bounceIn inline-block align-bottom bg-white  px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-sm sm:w-full sm:p-6" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
      <div>
        <div class="mx-auto flex items-center justify-center h-24 w-24 rounded-full bg-gray-600">
          <!-- Heroicon name: check -->
          <img width="90"  src="https://samherbert.net/svg-loaders/svg-loaders/rings.svg">
        </div>
        <div class="mt-3 text-center sm:mt-5">
          <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
       Looking for a game...
          </h3>
          <div class="mt-2">
            <p class="text-sm leading-5 text-gray-500">
We'll let you know when we find someone.            </p>
          </div>
        </div>
      </div>
      <br>
      <div class="bg-yellow-50 border-l-4 border-yellow-400 p-4">
        <div class="flex">
          <div class="flex-shrink-0">
            <!-- Heroicon name: exclamation -->
            <svg class="h-5 w-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
            </svg>
          </div>
          <div class="ml-3">
            <p class="text-sm leading-5 text-yellow-700">
            <B>stop.</B> this doesn't work yet. don't sit waiting there
            </p>
          </div>
        </div>
      </div>
      <div class="mt-5 sm:mt-6">
        <span class="flex w-full rounded-md shadow-sm">
          <button id="cancelButton" type="button" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-red-500 text-base leading-6 font-medium text-white shadow-sm hover:bg-red-400 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo transition ease-in-out duration-150 sm:text-sm sm:leading-5">
           Cancel
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
<!-- GAME FOUND-->

  <!-- Dashboard main-->

  <div class="bg-gray-800">
    <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
      <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-white sm:text-4xl sm:leading-10">
      
     Dashboard
        <br>
      </h2>
      <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
        <div class="inline-flex rounded-md shadow">
          <a  href="./ctflive/join" class="inline-flex items-center justify-center px-5 py-3 border border-white text-base leading-6 font-medium rounded-md text-white  hover:bg-gray-900 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
           Join a CTFLive
          </a>
        </div>
        <div class="ml-3 inline-flex rounded-md shadow">
          <a href="./challenges" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-black bg-white hover:bg-gray-100 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
          Practice
          </a>
        </div>
      </div>
    </div>
  </div>


  <div class="bg-gray-700" id="lastworkingon">
    <div class="max-w-screen-xl mx-auto py-5 px-4 sm:px-6 lg:py-2 lg:px-8 lg:flex lg:items-center lg:justify-between">
      <h2 class=" text-white">
      
You were last working on:  <b id="challenge_name">nothing, zilch, nada.</b>
        <br>
      </h2>
 

      <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
        <div class="inline-flex rounded-md shadow">
          <a  id="challenge_link" href="" class="inline-flex items-center justify-center px-3 py-1 border border-transparent text-base leading-6 font-medium rounded-md text-black bg-white hover:bg-gray-100 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
           Continue Working
          </a>
        </div>
</div>
    </div>
  </div>











  <div class="flex overflow-hidden bg-gray-100">
  
  
    <!-- Static sidebar for desktop -->
    <div class="hidden md:flex md:flex-shrink-0  ">
      <div class="flex flex-col w-64">
        <!-- Sidebar component, swap this element with another sidebar if you like -->
        <div class="flex flex-col h-0 flex-1 border-r border-gray-200 bg-white">
          <div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
      
            <nav class="flex-1 px-2 bg-white space-y-1">
              <a href="#" class="group flex items-center px-2 py-2 text-sm leading-5 font-medium text-gray-900 rounded-md bg-gray-100 hover:text-gray-900 hover:bg-gray-100 focus:outline-none focus:bg-gray-200 transition ease-in-out duration-150">
                <div class="mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500 transition ease-in-out duration-150" >
                  <i style="font-size:1.5rem;" class="far fa-compass fa-fw"></i>
                </div>
                <span style="Font-size:1rem;">  Overview </span>
              </a>
              <a href="#" class="hidden group flex items-center px-2 py-2 text-sm leading-5 font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition ease-in-out duration-150">
             
                <div class="mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500 transition ease-in-out duration-150" >
                  <i style="font-size:1.5rem;" class="fas fa-chalkboard-teacher"></i> 
                </div>
                <span style="Font-size:1rem;"> Classes </span>
              </a>
              <a href="#" class="hidden group flex items-center px-2 py-2 text-sm leading-5 font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition ease-in-out duration-150">
                <!-- Heroicon name: folder -->
            
                <div class="mr-3 h-6 w-6 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500 transition ease-in-out duration-150" >
                  <i style="font-size:1.5rem;"  class="fas fa-users"></i> 
                </div>
              <span style="Font-size:1rem;">  Social </span>
              </a>
  
            </nav>
          </div>
       
        </div>
      </div>
    </div>
    <div class="flex flex-col w-0 flex-1 overflow-hidden">
      <div class="md:hidden pl-1 pt-1 sm:pl-3 sm:pt-3">
        <button class="-ml-0.5 -mt-0.5 h-12 w-12 inline-flex items-center justify-center rounded-md text-gray-500 hover:text-gray-900 focus:outline-none focus:bg-gray-200 transition ease-in-out duration-150" aria-label="Open sidebar">
          <!-- Heroicon name: menu -->
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
      <main class="flex-1 relative z-0 overflow-y-auto focus:outline-none" tabindex="0">
        <div class="pt-2 pb-6 md:py-6">

          <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
            <!-- Replace with your content -->
         
    <h2>
      <span class="text-3xl leading-9d  text-gray-900 sm:text-4xl sm:leading-10"><b>Challenge History</b> </span>  <button style="float:right;" id="hidech" class="bg-gray-200 rounded px-3 px-4 mt-2 text-sm text-black">Hide</button>
        </h2> <br>
    <div id="historyDIV" class="  flex flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
              <table class="min-w-full divide-y divide-gray-200 table-fixed">
                <thead>
                  <tr>
                    <th class="px-6 py-3  text-left text-xs leading-4 font-medium text-white bg-gray-800 uppercase tracking-wider">
                Problem ID
                    </th>
                    <th class=" px-6 py-3c text-left bg-gray-800 text-xs leading-4 font-medium text-white uppercase tracking-wider">
                        Challenge Name

                    </th>
                 
                    <th  class="px-6 py-3 bg-gray-800 text-white font-medium"></th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Odd row -->
                  <tr style="display:none;" id="history" class="bg-white">
                    <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900">
            .  
                    </td>
                    <td class=" px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                      .
                    </td>
                    <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
             .
                    </td>
                  
              
                  </tr>
      
                  <!-- Even row -->
                  <tr class="bg-gray-50">
                    <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900">
                     
                    </td>
                    <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
               
                    </td>
                    <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                  
                    </td>
             
                  </tr>
      
                  <!-- More rows... -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>

<br><br>
<div  id="reminders" >
<div class="bg-gray-700 rounded">
  <div class="max-w-1xl mx-auto text-center py-16 px-4 sm:py-10 sm:px-6 lg:px-5">
    <h2 class="text-3xl font-extrabold text-white sm:text-4xl">
      <span class="block">Keep forgetting to practice?</span>
    </h2>
    <p class="mt-4 text-lg leading-6 text-gray-200">
      We can send you an email to remind you!</p>
    <button id="register4email" class="mt-8 w-full inline-flex items-center justify-center px-10 py-3 border border-transparent text-base font-medium rounded-md text-gray-600 bg-white hover:bg-gray-50 sm:w-auto">
      Sign me up
    </button>
    <button id="nothx" class="mt-8 w-full inline-flex items-center justify-center px-10 py-3 border border-transparent text-base font-medium rounded-md text-gray-600 bg-white hover:bg-gray-50 sm:w-auto">
      No thanks!
    </button>
  </div>
</div>
<Br><br>
</div>
<div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
  <h2 class ="text-3xl leading-9d tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
<b>   Your Challenges</b>
    </h2> <br>

    <div id="" class="  flex flex-col">
      <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200 table-fixed">
              <thead>
                <tr>
                  <th class=" whitespace-no-wrap  px-6 py-3  text-left text-xs leading-4 font-medium text-white bg-gray-800 uppercase tracking-wider">
              Problem ID
                  </th>
                  <th class="  whitespace-no-wrap  px-6 py-3c text-left bg-gray-800 text-xs leading-4 font-medium text-white uppercase tracking-wider">
                      Challenge Name

                  </th>
               
                  <th  class="whitespace-no-wrap  px-6 py-3 bg-gray-800 text-white font-medium"></th>
                </tr>
              </thead>  
              <tbody>
                <!-- Odd row -->
                <tr style="display:none;" id="mc" class="bg-white">
                  <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900">
          .  
                  </td>
                  <td class=" px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                    .
                  </td>
                  <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
           .
                  </td>
                
            
                </tr>
    
                <!-- Even row -->
                <tr class="bg-gray-50">
                  <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900">
                   
                  </td>
                  <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
             
                  </td>
                  <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                
                  </td>
           
                </tr>
    
                <!-- More rows... -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>




  </div>

            <!-- /End replace -->
          </div>
        </div>
      </main>
    </div>
  </div>











<br>
  <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">


<div>
  
<div class="hidden">
      <div class="absolute inset-0 h-1/2"></div>  <div class="relative max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class=" mx-auto">
<img src="../../cdn/pfp.svg" width="100" style="border-radius: 100%;" ></div>
<h1 style="font-size:2rem;"><b>Pranav Ramesh</b></h1>

<div>
  <div >
    <div class="relative max-w-screen-xl  ">
      <div class="w-48">
        <dl class="rounded-lg bg-white shadow-lg sm:grid sm:grid-cols-1 border">

          <div class="flex flex-col border-t border-gray-100 text-center sm:border-0 sm:border-l">
            <img class="mx-auto mt-3" src="../../cdn/BRONZE.png" width="140">

            <dt class="order-2  mb-3 text-lg leading-6 font-medium text-gray-500" id="item-1">
              Points
          </dt>
          <dd id="points" style="font-size:2rem;" class="order-1 text-5xl leading-none font-extrabold text-yellow-400 " aria-describedby="item-1">
          ...
          </dd>
          </div>

          
        </dl>
      </div>
    </div>
  </div>
  </div>

</div>
  </div>


  
  <!-- FOOTER -->

<footer class="bg-white">
    <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 md:flex md:items-center md:justify-between lg:px-8">
      <div class="flex justify-center space-x-6 md:order-2">

        <a href="https://twitter.com/laphatize2" class="text-gray-400 hover:text-gray-500">
          <span class="sr-only">Twitter</span>
          <svg class="h-6 w-6" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
            <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" />
          </svg>
        </a>
        <a href="https://github.com/laphatize" class="text-gray-400 hover:text-gray-500">
          <span class="sr-only">GitHub</span>
          <svg class="h-6 w-6" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" />
          </svg>
        </a>
      
      </div>
      <div class="mt-8 md:mt-0 md:order-1">
        <p class="text-center text-base leading-6 text-gray-400">
          &copy; 2021 Pranav Ramesh. All rights reserved.
        </p>
      </div>
    </div>
  </footer>
  

  <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-firestore.js"></script>
  <script>
        var firebaseConfig = {
          apiKey: "AIzaSyBLAN84VP3jSA5dqhrU6Bjmfu5NiUDuNw4",
          authDomain: "cyberjags-8b081.firebaseapp.com",
          databaseURL: "https://cyberjags-8b081.firebaseio.com",
          projectId: "cyberjags-8b081",
          storageBucket: "cyberjags-8b081.appspot.com",
          messagingSenderId: "166652277588",
          appId: "1:166652277588:web:e08b9e19916451e14dcec1"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
  </script>
 <script src="./js/dashboard.js?1"></script>
 
<script>
  var open = false;


  function toggleMenu() {
    // closem openm
    if (open == false) {
    document.getElementById("mobile").classList.add("block")
    document.getElementById("mobile").classList.remove("hidden")
    document.getElementById("closem").classList.remove("hidden")
    document.getElementById("closem").classList.add("block")
    document.getElementById("openm").classList.add("hidden")
    document.getElementById("openm").classList.remove("block")


      open = true;
    } else {
      document.getElementById("mobile").classList.add("hidden")
    document.getElementById("mobile").classList.remove("block")
    open = false;
    document.getElementById("openm").classList.remove("hidden")
    document.getElementById("openm").classList.add("block")
    document.getElementById("closem").classList.add("hidden")
    document.getElementById("closem").classList.remove("block")
    }

  }
  document.getElementById("menubtn").addEventListener("click", toggleMenu);


</script>
</div>
</body>